<!-- a shim to handle all the headers -->

<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
				<ul class="nav navbar-nav navbar-left">
					<li><%= link_to "sample app", '/', id: "logo"%></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home", 	home_path %></li>
					<li><%= link_to "Help", 	help_path %></li>
					<li class="li_padded"><%= link_to "Sign in", 	'#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>